* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header, footer {
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    height: 100px;
  }

  footer {
    padding: 10px 0;
  }

  .container {
    display: flex;
    flex-grow: 1;
  }

  .left-content, .right-content {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .left-content {
    flex: 0 0 70%;
    background-color: yellow;

  }

  .right-content {
    flex: 0 0 30%;
    background-color: blue;
  }